<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Opera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/podglad.css"/>


</head>
<body>
<div class="container">
    <nav>
        <div class="row">
            <ul class="nav nav-justified">
                <li class="table-bordered active"><a href="">Repertuar</a></li>
                <li class="table-bordered"><a href="#">Aktualności</a></li>
                <li class="table-bordered"><a href="#">O Operze</a></li>
                <li class="table-bordered"><a href="#">Kontakt</a></li>
                <li class="table-bordered"><img style=" margin: 5px; max-width: 50px" src="/img/logged.png"/></li>
            </ul>
        </div>
    </nav>
    <h1>System rezerwacji internetowej Opery Wrocławskiej</h1>

    <div class="preview">
        <table class="table table-bordered text-center "  >
            <tbody>
            <tr class="table-row">
                <th scope="row"> I </th>
                <td class="place" th:value="1">1</td>
                <td th:value="2">2</td>
                <td th:value="3">3</td>
                <td th:value="4">4</td>
                <td th:value="5">5</td>
                <td th:value="6">6</td>
            </tr>
            <tr class="table-row">
                <th scope="row"> II </th>
                <td th:value="7">7</td>
                <td th:value="8">8</td>
                <td th:value="9">9</td>
                <td th:value="10">10</td>
                <td th:value="11">11</td>
                <td th:value="12">12</td>
                <td th:value="13">13</td>
                <td th:value="14">14</td>
            </tr>
            <tr class="table-row">
                <th scope="row"> III </th>
                <td th:value="15">15</td>
                <td th:value="16">16</td>
                <td th:value="17">17</td>
                <td th:value="18">18</td>
                <td th:value="19">19</td>
                <td th:value="20">20</td>
                <td th:value="21">21</td>
            </tr>
            <tr class="table-row">
                <th scope="row"> IV </th>
                <td th:value="22">22</td>
                <td th:value="23">23</td>
                <td th:value="24">24</td>
                <td th:value="25">25</td>
                <td th:value="26">26</td>
                <td th:value="27">27</td>
                <td th:value="28">28</td>
            </tr>
            <tr class="table-row">
                <th scope="row"> V </th>
                <td th:value="29">29</td>
                <td th:value="30">30</td>
                <td th:value="31">31</td>
                <td th:value="32">32</td>
                <td th:value="33">33</td>
                <td th:value="34">34</td>
                <td th:value="35">35</td>
                <td th:value="36">36</td>
            </tr>
            <tr class="table-row">
                <th scope="row"> VI </th>
                <td th:value="37">37</td>
                <td th:value="38">38</td>
                <td th:value="39">39</td>
                <td th:value="40">40</td>
                <td th:value="41">41</td>
                <td th:value="42">42</td>
                <td th:value="43">43</td>
                <td th:value="44">44</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons pull-right">
        <a id="previousButton" href="#" class="btn btn-lg btn-default">Powrót</a>
        <a id="nextButton" href="#" class="btn btn-lg btn-default">Dalej</a>
    </div>


</div>


<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/podglad.js"></script>
</body>
</html>