<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Opera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <nav>
        <div class="row">
            <ul class="nav nav-justified">
                <li class="table-bordered active"><a href="repertuar.html">Repertuar</a></li>
                <li class="table-bordered"><a href="#">Aktualności</a></li>
                <li class="table-bordered"><a href="#">O Operze</a></li>
                <li class="table-bordered"><a href="#">Kontakt</a></li>
                <li class="table-bordered"><img style="; margin: 5px; max-width: 50px" src="/img/logged.png"/></li>
            </ul>

        </div>
        <div class="row">
            <ul class="nav nav-justified ">
                <li class="active table-bordered" ><a href="">PN<br/>4.11.2016</a></li>
                <li class="table-bordered"><a href="#">WT<br/>5.11.2016</a></li>
                <li class="table-bordered"><a href="#">SR<br/>6.11.2016</a></li>
                <li class="table-bordered"><a href="#">CZW<br/>7.11.2016</a></li>
                <li class="table-bordered"><a href="#">PT<br/>8.11.2016</a></li>
                <li class="table-bordered"><a href="#">SB<br/>9.11.2016</a></li>
                <li class="table-bordered"><a href="#">ND<br/>10.11.2016</a></li>
            </ul>
        </div>
    </nav>

    <div class="list-group">
            <a href="#" class="list-group-item" th:each="spectacle  : ${spectacles}" >
                <h4 class="list-group-item-heading" th:text="${spectacle.title}"></h4>
                <img class="list-group-item-text" style="max-width: 25px" src="/img/clock.png"/>
                <ul  class="list-inline">
                    <th:block th:object="${spectacle}">
                        <li th:each="date : *{dates}" th:text="${#dates.format(date, 'HH:mm')}"></li>
                    </th:block>
                </ul>


            </a>

    </div>

<script src="/js/bootstrap.min.js"></script>
</div>

</body>
</html>