<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Opera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>


</head>
<body>
<div class="container">
    <nav>
        <div class="row">
            <ul class="nav nav-justified">
                <li class="table-bordered active"><a href="repertuar.html">Repertuar</a></li>
                <li class="table-bordered"><a href="#">Aktualności</a></li>
                <li class="table-bordered"><a href="#">O Operze</a></li>
                <li class="table-bordered"><a href="#">Kontakt</a></li>
                <li class="table-bordered"><img style="; margin: 5px; max-width: 50px" src="/img/logged.png"/></li>
            </ul>

        </div>
        <div class="row">
            <ul id="menuContainer" th:name="menuContainer" class="nav nav-justified ">
                <li data-value="2017/01/15" class="active table-bordered" ><a href="#">PN<br/>15.01.2017</a></li>
                <li data-value="2017/01/16"  class="table-bordered"><a href="#">WT<br/>16.01.2016</a></li>
                <li data-value="2017/01/17" class="table-bordered"><a href="#">SR<br/>17.01.2016</a></li>
                <li data-value="2017/01/18" class="table-bordered"><a href="#">CZW<br/>18.01.2016</a></li>
                <li data-value="2017/01/19" class="table-bordered"><a href="#">PT<br/>19.01.2016</a></li>
                <li data-value="2017/01/20" class="table-bordered"><a href="#">SB<br/>20.01.2016</a></li>
                <li data-value="2017/01/21" class="table-bordered"><a href="#">ND<br/>21.01.2016</a></li>
            </ul>
        </div>
    </nav>

    <div class="list-group">
            <a href="#" class="list-group-item" th:each="spectacle  : ${spectacles}" >
                <h4 class="list-group-item-heading" th:text="${spectacle.title}"></h4>
                <img class="list-group-item-text" style="float:left; max-width: 25px" src="/img/clock.png"/>
                <ul  style="float: left" class="list-inline">
                    <th:block th:object="${spectacle}">
                        <li class="list-group-item-text" th:each="date : *{dates}" th:text="${#dates.format(date, 'HH:mm')}"></li>
                    </th:block>
                </ul>
                <div style="clear: both"></div>
            </a>

    </div>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/repertuar.js"></script>

</div>

</body>
</html>